@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

body {
  color: theme('colors.slate.50');
  background: theme('colors.slate.950');
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
